# User login info:
username = 
password = 
# Desired food pickup location:
pickup = 520 Terry Ave N

# Side-order probabilities. 
# Ex) cookieP = 0.70, 70% chance of it selecting a random cookie category item.
sandwichP = 1.00
cookieP = 0.70
saladP = 0.10
soupP = 0.50
drinkP = 0.05

# Side order items are anything but sandwiches. If this is true, ordering will
# allow multiple sides to be chosen (eg. a cookie and a salad, but never
# multiple from the same category)
multipleSides = false

# Max amount to spend on order (before tax)
maxBudget = 11.00

# Path to the menu file. This file is a list of items from the specialtys menu
# that will be allowed in orders (basically you whitelist the items you want to
# randomly select from)
menuFilePath = mmas.menu
